<div class="banner <%=@cocktail.name.gsub(/\s+/, "")%>">
  <div class="banner-content">
    <h1>  <%= @cocktail.name %> </h1>
  </div>
  <div class="banner-gradient" id="little-banner"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="description">
        <h3>Description</h3>
        <p>
         <%= @cocktail.description  %>
        </p>
      </div>
    </div>

    <div class='col-xs-6'>
      <div class="card">

        <div class="card-description">
          <ul>
            <% @cocktail.doses.each do |dose| %>
            <li>
              <h2><strong><%= dose.ingredient.name %></strong> -- <%= dose.description %>
              <%= link_to 'Delete the dose', cocktail_dose_path(@cocktail, dose),
                method: :delete,
                data: { confirm: "Are you sure?" } %></h2>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="card-delete">
          <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
