<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  </head>

  <body>
    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="/cocktails" class="navbar-wagon-brand navbar-wagon-link">
        Our cocktails
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <a href="../cocktails/new" class="navbar-wagon-item navbar-wagon-link">Add cocktail</a>
        <form action="search" method="get">
          <div class="topnav">
            <input type="search" name="tag" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>

      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="/cocktails/new">Add cocktail</a></li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <%= link_to 'Our Cocktails', cocktails_path %>
      </div>
      <div class="footer-copyright">
        This website is made with <i class="fa fa-heart"></i> at Le Wagon by Gilles de Ghellinck
      </div>
    </div>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
  </body>
</html>
